* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #00F510;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    font-size:  17px;
    line-height: 1.6;
    cursor: pointer;
}

.button:hover {
    background: #00A80C;
}

.modal {
    position: fixed;
    display: none; 
   z-index: 2;
   height: 100%;
   width: 100%;
   overflow: auto;
   background-color: rgba(0,0,0, 0.2);
}
.modalcontext {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4f4f4;
    width: 1000px;
    height: 135px;
}

.firstcontext {
    margin-right: 15px;
    margin-top: 8px;
}
.secondcontext {
    margin-top: 13px;
}
.closebtn {
    border: none;
    outline: none;
    background: none;
    color: #000;
    float: right;
    cursor: pointer;
    text-decoration: none;
    
}
.closebtn i {
    font-size:  30px;
    font-weight: bold;
}



