* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  canvas {
    border: 2px solid #FF6400;
  }
  
  .toolbox {
    background: rgb(222,131,3);
    background: linear-gradient(159deg, rgba(222,131,3,1) 2%, rgba(255,114,0,1) 9%, rgba(142,77,7,1) 100%, rgba(213,167,9,1) 100%, rgba(219,124,8,1) 100%);
    display: flex;
    width: 1404px;
    height: 60px;
    padding: 1rem;
  }
  
  .toolbox > * {
    background-color: #fff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    height: 35px;
    width:  35px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .toolbox > *:last-child {
    margin-left: auto;
  }